<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tushu.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.tushu.entity.Orders">
        <id column="order_id" property="orderId" />
        <result column="customer_name" property="customerName" />
        <result column="order_date" property="orderDate" />
        <result column="total_amount" property="totalAmount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, customer_name, order_date, total_amount
    </sql>

</mapper>
