<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tushu.mapper.PaymentRecordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.tushu.entity.PaymentRecords">
        <id column="payment_id" property="paymentId" />
        <result column="customer_name" property="customerName" />
        <result column="payment_amount" property="paymentAmount" />
        <result column="payment_date" property="paymentDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        payment_id, customer_name, payment_amount, payment_date
    </sql>

</mapper>
