<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tushu.mapper.ReviewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.tushu.entity.Reviews">
        <id column="review_id" property="reviewId" />
        <result column="customer_name" property="customerName" />
        <result column="product_name" property="productName" />
        <result column="rating" property="rating" />
        <result column="review_text" property="reviewText" />
        <result column="review_date" property="reviewDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        review_id, customer_name, product_name, rating, review_text, review_date
    </sql>

</mapper>
