<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tushu.mapper.RoleResourceRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.tushu.entity.RoleResourceRelation">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="resourse_id" property="resourseId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , role_id, resourse_id,role_resource_relation
    </sql>
    <insert id="addBatch">
        INSERT INTO role_resource_relation (role_id, resourse_id) VALUES
        <foreach collection="list" item="RoleResourceRelations" separator=",">
            (#{RoleResourceRelations.roleId}, #{RoleResourceRelations.resourseId})
        </foreach>
    </insert>

</mapper>
