<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tushu.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.tushu.entity.UserRole">
        <result column="ID_user" property="idUser"/>
        <result column="ID_role" property="idRole"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID_user
        , ID_role
    </sql>
    <!--返回一个角色ID-->
    <select id="getById" resultType="com.example.tushu.entity.UserRole">
        select ID_user, ID_role
        from user_role
        where ID_user = #{ID_user}
    </select>

</mapper>
